{% for properties in case %}
<div class="conf_{{ role }}_{{ i }}" id="conf_{{ role }}_{{ i }}">
 <h5>
   {{ properties }}:
 </h5>  

 {% for key in case[properties] %}
 <label>{{ key }}</label>
 {% if key == 'ignore_conf' %}
 <div class="input-group col-lg-12 {{ role }}_{{ i }}_{{ key }}" id="123">
  <span class="input-group-addon">{{ run_fields[key] }}</span>
  <input type="text" id='{{ role }}_{{ key }}_{{ i }}' value={{ case[properties][key] }} data-bind="value:{{ role }}_{{ key }}" class="form-control input-sm"/>
</div>

{% elif key == 'limit' %}
<div class="input-group col-lg-4 {{ role }}_{{ i }}_{{ key }}">
  <span class="input-group-addon">{{ run_fields[key] }}</span>
  <input type="number" id='{{ role }}_{{ key }}_{{ i }}' min="0" max="1000000" step="1000" value={{ case[properties][key] }} data-bind="value:{{ role }}_{{ key }}" class="form-control input-sm"/>
</div>
{% elif key == 'stand' %}
{% if case[properties][key] == 'smoke' %}
  {% set case[properties][key] = '0' %}
{% elif case[properties][key] == 'cloud' %}
  {% set case[properties][key] = '-1' %}
{% end %}
<div class="input-group col-lg-4 {{ role }}_{{ i }}_{{ key }}">
  <span class="input-group-addon">{{ run_fields[key] }}</span>
  <input type="number" id='{{ role }}_{{ key }}_{{ i }}' min="-1" max="4" step="1" value={{ case[properties][key] }} data-bind="value:{{ role }}_{{ key }}" class="form-control input-sm"/>
</div>
{% elif key == 'debug_cookie' %}
<div class="input-group col-lg-1 {{ role }}_{{ i }}_{{ key }}">
  <span class="input-group-addon">
    <input type="checkbox" id='{{ role }}_{{ key }}_{{ i }}' {% if case[properties][key]==True %} checked {% end %}>
  </span>
  <span class="input-group-addon">{{ run_fields[key] }}</span>
</div>
{% else %}
<label>unknown key</label>
{% end %}
{% end %} 
</div>  

{% set n = i %}
{% include "drop_options.html" %}
{%  set i= i + 1 %}

{% end %} 
